<section id="About" class="flex font-lato gap-12 py-40 px-10 bg-neutral-900">
    <div class="flex flex-col gap-3 py-3 justify-center items-start">
        <h2 class="font-playfair text-6xl text-neutral-100">¿Por qué elegir MacGuffin?</h2>
        <p class="text-neutral-300 text-xl">Tu único destino para los amantes del cine</p>    
    </div>
    <div class="flex gap-10">
        <article class="flex flex-col justify-center items-start gap-4 max-w-[300px]">
            <img src="/assets/images/about_1.png" alt="compras flexibles">
            <div class="text-neutral-100">
                <p class="text-lg">Compra en línea flexible</p>
                <span class="text-sm text-neutral-400">Disfruta de la comodidad de comprar películas en línea con múltiples opciones de pago a tu disposición.</span>    
            </div>
        </article>
        <article class="flex flex-col justify-center items-start gap-4 max-w-[300px]">
            <img src="/assets/images/about_2.png" alt="Soporte 24/7">
            <div class="text-neutral-100">
                <p class="text-lg">Soporte 24/7</p>
                <span class="text-sm text-neutral-400">Recibe asistencia en cualquier momento con nuestro chatbot dedicado, siempre listo para ayudarte.</span>    
            </div>
        </article>
    </div>
</section>