<div class="bg-neutral-900 flex flex-col md:flex-auto sm:flex-row py-16 px-10 h-screen justify-center items-center md:gap-10">
    <div class="hidden md:block">
        <img class="max-w-96 rounded-2xl" src="/assets/images/rollos.png" alt="rollos de película">
    </div>
    <div *ngIf="message" class="absolute top-5 w-full flex justify-center animate-slide-down">
        <ng-container *ngIf="message === '¡Login exitoso!'; else errorTemplate">
            <div class="bg-green-200 text-green-800 flex items-center p-4 mb-4 text-sm rounded-lg" role="alert">
                <img class="w-4" src="/assets/icons/alert-success.svg" alt="Success Alert">
                <span class="font-medium ml-1">{{ message }}</span>
            </div>
        </ng-container>
        <ng-template #errorTemplate>
            <div class="bg-red-200 text-red-800 flex items-center p-4 mb-4 text-sm rounded-lg" role="alert">
                <img class="w-4" src="/assets/icons/alert-danger.svg" alt="Error Alert">
                <span class="font-medium ml-1">{{ message }}</span>
            </div>
        </ng-template>
    </div>
    <form class="flex flex-col text-neutral-100 py-16 px-2 gap-5 justify-center min-w-96 max-w-auto" (submit)="doLogin()">
        <div>
            <h1 class="text-6xl font-playfair text-center">MacGuffin</h1>
        </div>
        <div class="flex flex-col justify-stretch items-start w-full">
            <label for="username">Usuario</label>
            <input [(ngModel)]="loginData.username" name="username" class="bg-transparent text-neutral-500 border w-full rounded-lg p-3" placeholder="Ingrese su usuario" type="text">
            <label for="password">Contraseña</label>
            <input [(ngModel)]="loginData.password" name="password" class="bg-transparent text-neutral-500 border w-full rounded-lg p-3" placeholder="Ingrese su contraseña" type="password">
        </div>
        <button class="rounded-lg  hover:bg-neutral-200 bg-neutral-300 text-neutral-900 font-bold py-4 px-16" type="submit">Iniciar Sesión</button>
        <span class="text-sm text-neutral-500">¿No tienes una cuenta? <a class="text-neutral-100" href="/registro">Registrate</a></span>
    </form>
</div>
