<section class="w-full px-14 py-6">
    <h1 class="font-semibold text-4xl text-darkBlue">Película</h1>
    <div class="flex justify-between py-6">
        <button (click)="openModal()" class="bg-gray-300 p-2 font-medium rounded-lg">Crear Nuevo</button>
    </div>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">Nombre Película</th>
                    <th scope="col" class="px-6 py-3">Año de Lanzamiento</th>
                    <th scope="col" class="px-6 py-3">Género</th>
                    <th scope="col" class="px-6 py-3">Descripción</th>
                    <th scope="col" class="px-6 py-3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b" *ngFor="let movie of movies; let i = index">
                    <td class="px-6 py-4 font-light text-gray-900 whitespace-nowrap">{{movie.title}}</td>
                    <td class="px-6 py-4 font-light text-gray-900 whitespace-nowrap">{{movie.release_year}}</td>
                    <td class="px-6 py-4 font-light text-gray-900 whitespace-nowrap">{{movie.genre?.name}}</td>
                    <td class="px-6 py-4 font-light text-gray-900 whitespace-nowrap">{{movie.description}}</td>
                    <td class="flex px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <button (click)="openUpdateModal(movie)"><img src="/assets/icons/Edit.svg"/></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- Modal para Crear Película -->
<div *ngIf="isOpenModal" class="fixed inset-0 flex justify-center items-center bg-gray-500 bg-opacity-50">
    <div class="bg-white rounded-lg border w-1/2 p-6">
        <button (click)="closeModal()" class="absolute top-3 right-3">
            <img src="/assets/icons/Close.svg" alt="close" loading="lazy">
        </button>
        <form [formGroup]="movieForm" (ngSubmit)="addMovie()" class="flex flex-col gap-3" enctype="multipart/form-data">
            <h2 class="font-semibold text-4xl text-darkBlue">Crear película</h2>
            <div class="flex flex-col gap-3">
                <label for="title">Nombre de la Película</label>
                <input type="text" class="border rounded-lg p-2" formControlName="title" placeholder="Nombre de la película">   
                <div *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched">
                    <span class="text-sm text-red-800">El nombre de la película es requerido</span>
                </div> 
            </div>
            <div class="flex flex-col gap-3">
                <label for="genre">Género de la película</label>
                <div formGroupName="genre">
                    <select formControlName="genre_id" class="form-select w-full p-2 border" required>
                        <option [ngValue]="null" disabled selected>Seleccione un género</option>
                        <option *ngFor="let genre of genres" [ngValue]="genre.genre_id">{{ genre.name }}</option>
                    </select>
                </div> 
                <div *ngIf="movieForm.get('genre')?.invalid && movieForm.get('genre')?.touched">
                    <span class="text-sm text-red-800">El género es requerido</span>
                </div> 
            </div>
            <div class="flex flex-col gap-3">
                <label for="release_year">Año de Lanzamiento</label>
                <input type="number" formControlName="release_year" class="border rounded-lg p-2">
                <div *ngIf="movieForm.get('release_year')?.invalid && movieForm.get('release_year')?.touched">
                    <span class="text-sm text-red-800">El año de lanzamiento es requerido</span>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <label for="description">Descripción de la película</label>
                <textarea class="border rounded-lg p-2 w-full" formControlName="description" placeholder="Descripción de la película"></textarea>
                <div *ngIf="movieForm.get('description')?.invalid && movieForm.get('description')?.touched">
                    <span class="text-sm text-red-800">La descripción de la película es requerida</span>
                </div> 
            </div>
            <div class="flex flex-col gap-3">
                <label for="poster_url">Imagen</label>
                <input type="file" formControlName="poster_url">
            </div>
            <button type="submit" class="bg-blue-600 text-white p-2">Guardar Película</button>
        </form>
    </div>
</div>

<!-- Modal para Actualizar Película -->
<div *ngIf="isOpenUpdateModal" class="fixed inset-0 flex justify-center items-center bg-gray-500 bg-opacity-50">
    <div class="bg-white rounded-lg border w-1/2 p-6">
        <button (click)="closeUpdateModal()" class="absolute top-3 right-3">
            <img src="/assets/icons/Close.svg" alt="close" loading="lazy">
        </button>
        <form [formGroup]="movieForm" (ngSubmit)="updateMovie()"  class="flex flex-col gap-3" enctype="multipart/form-data">
            <h2 class="font-semibold text-4xl text-darkBlue">Actualizar película</h2>
            <div class="flex flex-col gap-3">
                <label for="title">Nombre de la Película</label>
                <input type="text" class="border rounded-lg p-2 w-full" formControlName="title" placeholder="Nombre de la película">   
                <div *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched">
                    <span class="text-sm text-red-800">El nombre de la película es requerido</span>
                </div> 
            </div>
            <div class="flex flex-col gap-3">
                <label for="genre">Género de la película</label>
                <div formGroupName="genre">
                    <select formControlName="genre_id" class="form-select w-full p-2 border" required>
                        <option *ngFor="let genre of genres" [ngValue]="genre.genre_id">{{ genre.name }}</option>
                    </select>
                </div> 
                <div *ngIf="movieForm.get('genre.genre_id')?.invalid && movieForm.get('genre.genre_id')?.touched">
                    <span class="text-sm text-red-800">El género es requerido</span>
                </div> 
            </div>            
            <div class="flex flex-col gap-3">
                <label for="release_year">Año de Lanzamiento</label>
                <input type="number" formControlName="release_year" class="border rounded-lg p-2">
                <div *ngIf="movieForm.get('release_year')?.invalid && movieForm.get('release_year')?.touched">
                    <span class="text-sm text-red-800">El año de lanzamiento es requerido</span>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <label for="description">Descripción de la película</label>
                <textarea class="border rounded-lg p-2" formControlName="description" placeholder="Descripción de la película"></textarea>
                <div *ngIf="movieForm.get('description')?.invalid && movieForm.get('description')?.touched">
                    <span class="text-sm text-red-800">La descripción de la película es requerida</span>
                </div> 
            </div>
            <div class="flex flex-col gap-3">
                <label for="poster_url">Imagen</label>
                <input type="file" formControlName="poster_url">
            </div>
            <button type="submit" class="bg-blue-600 text-white p-2">Actualizar Película</button>
        </form>
    </div>
</div>
