<section class="flex  font-lato bg-neutral-900 rounded-3xl max-w-[580px] min-w-60 py-10 px-8 min-h-72 max-h-80 gap-8">
    <div class="flex flex-col justify-center items-center gap-4 text-neutral-100 min-w-48">
        <img class="max-w-28" [src]="img" alt="{{title}} foto">
        <h3 class="text-xl">{{title}}</h3>
    </div>
    <div class="flex flex-col gap-4 justify-center items-start text-white">
        <div class="flex">
            <!-- Mostrar las estrellas llenas -->
            <ng-container *ngFor="let star of getStarArray()">
              <img src="/assets/icons/star.svg" alt="estrellas reseña">
            </ng-container>
          </div>
          <p class="text-lg text-neutral-400">{{ review }}</p>
    </div>
</section>