<div class="container mx-auto p-4 bg-neutral-900 text-neutral-100 max-w-full max-h-full">
  <h1 class="text-3xl font-bold mb-4">{{ movieDetails?.title }}</h1>
  <span class="badge badge-secondary mb-4">{{ movieDetails?.genre?.name || 'N/A' }}</span>

  <div class="aspect-video w-full flex justify-center">
    <iframe
      [src]="videoUrl()"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
  </div>

  <h2 class="text-xl font-semibold mb-2 text-gray-300">Sinopsis</h2>
  <p class="text-gray-300 mb-6">{{ movieDetails?.description }}</p>

  <div class="space-y-4">
    <h2 class="text-xl font-semibold">Detalle de la Película</h2>
    <dl class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-2">
      <dt class="font-medium text-gray-300">Título</dt>
      <dd>{{ movieDetails?.title }}</dd>
      <dt class="font-medium text-gray-300">Categoría</dt>
      <dd>{{ movieDetails?.genre?.name || 'N/A' }}</dd>
    </dl>
  </div>

  <div *ngIf="showModal()" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md">
      <h2 class="text-lg font-bold mb-4">No tienes una suscripción activa</h2>
      <p class="mb-4">Para ver esta película, debes suscribirte a uno de nuestros planes.</p>
      <button (click)="goToProfile()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Ir a Perfil</button>
    </div>
  </div>
</div>
