<footer class="bg-neutral-900">
    <div>
        <form action="">
            <span>Suscríbete Ahora</span>
            <ul>
                <li></li>
                <li></li>
                <li>
                    <div>
                        <input type="text" placeholder="Ingrese su correo electrónico">
                        <button class="bg-neutral-300 text-slate-50" type="submit">Suscríbete</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</footer>