<div class="bg-neutral-900 flex flex-col md:flex-auto sm:flex-row py-16 px-10 h-screen justify-center items-center md:gap-10">
    <div class="hidden md:block">
        <img class="max-w-96 rounded-2xl" src="/assets/images/rollos.png" alt="rollos de película">
    </div>
    <form class="flex flex-col text-neutral-100 py-16 px-2 gap-5 justify-center min-w-96 max-w-auto" (submit)="doRegister()">
        <div>
            <h1 class="text-6xl font-playfair text-center">MacGuffin</h1>
        </div>
        <div class="flex flex-col justify-stretch items-start w-full">
            <select class="bg-transparent border rounded-lg w-full p-3" name="" id="">
                <option class="bg-neutral-900" value="" selected>Seleccione Tipo de Documento</option>
                <option class="bg-neutral-900" value="">DNI</option>
            </select>
            <label for="">Documento</label>
            <div class="flex justify-stretch w-full">
                <input class="bg-transparent text-neutral-100 border rounded-s-lg w-full p-3" type="text" name="" id="" placeholder="Ingrese su documento">
                <button class="rounded-e-lg bg-neutral-200 text-neutral-900 border font-bold p-3">Consultar</button>
            </div>
            <label for="">Nombre</label>
            <input class="bg-transparent text-neutral-100 border w-full rounded-lg p-3" placeholder="Ingrese su nombre" type="text">
            <label for="">Apellidos</label>
            <input class="bg-transparent text-neutral-100 border w-full rounded-lg p-3" placeholder="Ingrese su apellido" type="text">
            <label for="">Fecha de Nacimiento</label>
            <input class="bg-transparent text-neutral-100 border w-full rounded-lg p-3 " placeholder="Ingrese su Fecha de Nacimiento" type="date">
            <label for="">Correo</label>
            <input class="bg-transparent text-neutral-100 border w-full rounded-lg p-3" placeholder="Ingrese su correo electrónico" type="email">
            <label for="">Contraseña</label>
            <input class="bg-transparent text-neutral-100 border w-full rounded-lg p-3" placeholder="Ingrese su contraseña" type="password">

        </div>
        <button class="rounded-lg  hover:bg-neutral-200 bg-neutral-300 text-neutral-900 font-bold py-4 px-16" type="submit">Registrarse</button>
    </form>
</div>
