<nav id="Inicio" class="font-lato bg-neutral-900 h-16 py-2 flex justify-between">
    <img class="w-16 ml-4 cursor-pointer" src="/assets/images/logo_white.png" href="#" alt="logo Macguffin">
    <div>
        <ul class="flex text-neutral-100 gap-3 text-center justify-center items-center mx-4">
            <li class="w-36 py-3 rounded-lg hover:bg-neutral-700 hover:font-medium  hover:shadow-md hover:shadow-neutral-100"><a href="/#Inicio">Inicio</a></li>
            <li class="w-36 py-3 rounded-lg hover:bg-neutral-700 hover:font-medium hover:shadow-md hover:shadow-neutral-100"><a href="/#About">Quiénes Somos</a></li>
            <li class="w-36 py-3 rounded-lg hover:bg-neutral-700 hover:font-medium hover:shadow-md hover:shadow-neutral-100"><a href="/#Reseñas">Reseñas</a></li>
            <li class="w-36 rounded-lg hover:bg-neutral-300 hover:text-neutral-900 hover:shadow-md hover:shadow-neutral-100 hover:font-medium bg-neutral-500 px-5 py-3"><a href="/login">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>