<app-navbar />
<section  class="font-lato bg-neutral-900 py-32 px-4 flex flex-col justify-center items-center gap-8">
    <div class="flex justify-center items-center"><img src="/assets/images/lummi.png" alt=""></div>
    <div class="flex flex-col justify-center text-center items-center w-3/4 gap-4">
        <h1 class="font-playfair text-neutral-100 text-7xl justify-center">Descubre Tu Siguiente Película Favorita</h1>
        <span class="text-neutral-300 text-xl">Explora una amplia colección de películas clásicas y modernas</span>
        <a class="rounded-lg shadow-2xl shadow-slate-50 hover:bg-neutral-200 bg-neutral-300 hover:text-neutral-900 font-medium py-4 px-16" href="/login">Empieza a ver hoy</a>
    </div>
</section>
<app-reviews></app-reviews>
<section class="bg-neutral-900 flex">
    <div>
        <img src="/assets/images/rollos.png" alt="rollos de películas">
    </div>
    <div class="flex flex-col gap-10 px-32 py-20 justify-center items-start">
        <div class="flex flex-col gap-4">
            <h2 class="text-6xl font-playfair text-neutral-100">Comience Ahora</h2>
            <span class="text-neutral-100">Únete a nuestra comunidad de amantes del cine y no te pierdas ningún estreno.</span>
        </div>
        <a class="rounded-lg shadow-2xl shadow-slate-50 hover:bg-neutral-200 bg-neutral-300 hover:text-neutral-900 font-medium py-4 px-16" href="/login">Compra ahora</a>    
    </div>
</section>

<app-footer />