<div class="min-h-screen bg-neutral-900 text-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-2xl mx-auto bg-neutral-600 border border-gray-700 rounded-lg shadow">
    <a (click)="logout()" class="flex justify-end gap-x-2 p-5 cursor-pointer">
      <img src="/assets/icons/logout.svg" alt="Cerrar sesión icono"/>
    </a>
    <div class="flex flex-col items-center space-y-4 p-6">
      <div class="w-24 h-24 rounded-full bg-neutral-700 flex items-center justify-center">
        <img src="/assets/images/usuario.jpg" alt="User avatar" class="w-full h-full rounded-full" />
      </div>
      <div class="text-center">
        <h3 class="text-2xl font-bold">{{ userData?.nombre }}</h3>
      </div>
      <span class="bg-gray-700 text-gray-200 py-1 px-3 rounded">{{ subscriptionStatus || 'sin suscripción' }}</span>
    </div>
    
    <div class="p-6 space-y-4">
      <div class="flex items-center space-x-2 text-gray-300">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4zm0 4h16v2H4z"/></svg>
        <span>{{ userData?.nombre }} {{ userData?.apellido }}</span>
      </div>
      <div class="flex items-center space-x-2 text-gray-300">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 11c1.66 0 3-1.34 3-3S13.66 5 12 5s-3 1.34-3 3 1.34 3 3 3zm0 2c-3.3 0-9 1.67-9 5v2h18v-2c0-3.33-5.7-5-9-5z"/></svg>
        <span>{{ userData?.usuario }}</span>
      </div>
      <div class="flex items-center space-x-2 text-gray-300">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 11c1.66 0 3-1.34 3-3S13.66 5 12 5s-3 1.34-3 3 1.34 3 3 3zm0 2c-3.3 0-9 1.67-9 5v2h18v-2c0-3.33-5.7-5-9-5z"/></svg>
        <span>{{ userData?.telefono }}</span>
      </div>
      <div class="flex items-center space-x-2 text-gray-300">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 12v3m0 4v.01M7 12h10"/></svg>
        <span>{{ userData?.fechaNacimiento }}</span>
      </div>
    </div>

    <div class="p-6 flex flex-col space-y-4">
      <button *ngIf="subscriptionStatus === 'sin suscripción'" class="w-full bg-black hover:bg-neutral-900 py-2 rounded" (click)="subscribeNow()">
        Activa tu suscripción
      </button>
    </div>
    
  </div>
</div>
